@model CuaHangTheThao.Models.NguoiDung
@{
    ViewBag.Title = "SuaNguoiDung";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}


<h2 class="text-center">Sửa Người Dùng</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.nguoi_dung_id)
    <div class="form-group">
        @Html.LabelFor(m => m.ten_dang_nhap)
        @Html.TextBoxFor(m => m.ten_dang_nhap, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.email)
        @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ten)
        @Html.TextBoxFor(m => m.ten, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ho)
        @Html.TextBoxFor(m => m.ho, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.so_dien_thoai)
        @Html.TextBoxFor(m => m.so_dien_thoai, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.dia_chi)
        @Html.TextBoxFor(m => m.dia_chi, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-warning">Lưu Thay Đổi</button>
}
